html, body {
    height: 100%;
}

.menu ul {

}

.menu li {
    list-style: none;
}

.menu a {
    color: #222;
    display: block;
    font-size: 18px;
    line-height: 1.8em;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    color: #666;
}

.websites-container, .pages-container {
    margin-top: 20px;
}

.panel-dashboard {
    height: 100%;
}

.site-address {
    font-size: 18px;
    margin-bottom: 4px;
}

.site-container {
    height: 50px;
    margin-bottom: 10px;
}

.site-address {
    padding-top: 5px;
}

.site-action {
    color: #555;
    font-size: 18px;
    margin-right: 4px;
}

.site-remove:hover {
    color: #aa0000;
}

.pages-panel-head {
    height: 40px;
}

.pages-panel-head button {
    width: auto;
}

.btn-sites-dropdown {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px !important;
    font-weight: bold;
    margin-left: 5px;
    padding: 10px 20px 10px 20px;
}

.logout {
    float: right;
    font-size: 16px;
    margin-top: 15px;
}

.panel-body .col-lg-4,
.panel-body .col-lg-6,
.panel-body .col-lg-12 {
    padding-left: 5px;
}
