<div class="panel-heading">Pages</div>
<div class="panel-body">
    <div class="pages-panel-head">
        <div class="col-lg-6">
            <!-- Modal window -->
            <div id="modal-add-page" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Page</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <input type="text" class="name form-control" size="35" ng-model="newPage.name" placeholder="Alias">
                                    <p class="help-block">This is the name (Optional). E.g. About Page, My Weekend Research</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <input type="text" class="address form-control" size="35" ng-model="newPage.url" placeholder="Address">
                                    <p class="help-block">This is the address. E.g. /about, /2013/08/12/weekend_research.html</p>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="addPage()" class="btn btn-primary">Add</button>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Modal window -->
            <div id="modal-edit-page" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Edit Page</h4>
                      </div>
                      <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <input name="email" id="input-email" type="text" class="form-control" size="35" ng-model="updated.name" placeholder="Alias">
                                    <p class="help-block">This is the name (Optional). E.g. About Page, My Weekend Research</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <input name="password" id="input-pass" type="text" class="form-control" ng-model="updated.url" placeholder="Address">
                                    <p class="help-block">This is the address. E.g. /about, /2013/08/12/weekend_research.html</p>
                                </div>
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="updatePage()" class="btn btn-primary">Save</button>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Modal window -->
            <div id="modal-delete-page" class="modal delete fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Delete Page</h4>
                      </div>
                      <div class="modal-body">
                        <p>Deleting {{ deleted.url }}</p>
                        <p class="text-warning">This action can not be undone.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" ng-click="deletePage()" class="btn btn-danger btn-primary">Delete</button>
                      </div>
                    </div>
                </div>
            </div>
            <button data-toggle="modal" data-target="#modal-add-page" class="btn btn-primary btn-md">Add Page</button>
        </div>
        <div class="btn-group col-lg-6">
            <span>Website </span>
            <button class="btn-sites-dropdown dropdown-toggle" data-toggle="dropdown">
              <span ng-if="sites[0]">{{ sites[0].url }}</span>
              <span ng-if="!sites[0]">No website</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="site in sites"><a ng-click="selectSite(site)" href="#/pages">{{ site.url }}</a></li>
            </ul>
        </div>
    </div>

    <div class="pages-container col-lg-12">
      <table class="table table-striped table-hover" ng-if="pages.length">
        <thead>
            <tr>
                <th>URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="page in pages">
                <td><span>{{ page.url }}</span></td>
                <td>
                    <div>
                        <a class="site-action site-remove" data-toggle="modal" data-target="#modal-delete-page" ng-click="deletePageOpen(page)" href="#/pages">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a class="site-action site-edit" data-toggle="modal" data-target="#modal-edit-page" ng-click="editPageOpen(page)" href="#/pages">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <p ng-if="!pages.length">No pages configured.</p>
    </div>
</div>

