<div class="panel-heading">Websites</div>
<div class="panel-body">
    <button class="btn btn-primary btn-md">Add Website</button>
    <div class="websites-container">
        <div ng-if="sites.length">
            <div class="col-lg-4 site-container" ng-repeat="site in sites">
                <div class="site-address"><a href="{{ site.address }}">{{ site.domain }}</a></div>
                <a class="site-action site-remove" href="#/websites"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#/websites" class="site-action site-edit"><span class="glyphicon glyphicon-pencil"></span>
            </div>
        </div>
        <p ng-if="!sites.length">No websites configured.</p>
    </div>
</div>
